
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    display: inline;
    background-color: rgb(228, 233, 222);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 135px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 22px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
        background-color: rgb(228, 233, 222);
    font-size: 35px;
    transition: 0.4s;
    padding: 10px 30px;
}

nav ul li a:hover {
    background-color:  hsla(240,2.60869565%,22.54901961%,1);
    padding: 10px 30px;
    border-radius: 7px;
}

.rating .fa {
    color: goldenrod;
}

.pagination {
    
    text-align: center;
    margin-top: 300px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: 1px solid #251261;
    margin: 0 5px;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .prev,
.pagination .next {
    background-color: #f2f2f2;
}

.pagination .prev:hover,
.pagination .next:hover {
    background-color: #dcdcdc;
}

.pagination .page {
    background-color: #fff;
}

.pagination .current {
    background-color: #e7e7e7;
}

/* Media queries pour les appareils mobiles */

@media only screen and (max-width: 1024px) {

    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .navbar img {
        text-align: center;
        margin-left: 10px;
    }

    .logo img {
        width: 100px;
    }
    nav {
        margin-top: 20px;
        text-align: center;
    }

    nav ul {
        display: block;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
    }
/*
    .row {
        flex-direction: column;
    }
    */

    .col-2 {
        padding: 85px;
    }

    .col-2 p{
        font-size: 13px;
    }
    
    .col-2 a {
        padding-left: 70px;
        padding: 0px 40px;
    }
    .carousel img{
        max-width: 100%;
        height: auto;
    }

    .slick-track{

        max-width: 100%;
        height: auto;
        
    }
    .col-2 h1 {
        font-size: 23px;
        text-align: center;
        margin-bottom: 20px;
        line-height: normal;
    }

    .col-2 img {
        width: 100%;
    }

    .categories .col-3 {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .featured-products .col-4,
    .last-products .col-4 {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
}


.row-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hero-image img {
    width: 100%;
    height: auto;
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  width: 100%;
  background-color: hsla(240,2.60869565%,22.54901961%,1);
  min-height: 100px;
  padding: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}



.featured-products{
    padding-top: 10px;
}


.carousel img{
    width: 10%;
}


.slick-dots {
    position: absolute;
    bottom: -26px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: hsla(240,2.60869565%,22.54901961%,1);
    
}

.content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsla(240,2.60869565%,22.54901961%,1);
}

.event {
    margin-bottom: 20px;
    width: calc(25% - 20px);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 77px;
    color: white;
    font-size: 50px;
}

h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 109px;
    color: white;
    font-weight: normal;

}

.content-wrapper p{
    color: white;
    margin-top: 30px;
}

h3 a{
    color: white;
    text-decoration: none;
}

.left-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('WhatsApp-Image-2024-04-16-at-14.24.40.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    color: #fff;
    text-align: center;
    padding: 10% 5%;
}

  
.right-container {
    background-color: #ECE8E3;
    padding: 10% 5%;

    
}

  
@media (min-width: 768px) {
    .wrapper {
      display: flex;
      justify-content: center;
      min-height: 50vh;
    }
    .left-container {
      width: calc(50% - 12%);
      flex: 1;
      padding: 12% 6% 0 6%;
    }
    .right-container {
        
      flex: 1;
      width: calc(50% - 12%); 
      padding: 2% 7% 2% 5%;
    }
    .content {
      column-count: 2;
      column-gap: 1.5em;
    }
}
  
.heading {
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
  
.separator {
    display: block;
    font-size: 2.3em;
    margin-bottom: 25px;
}
  
.intro {
    line-height: 1.3;
    font-size: 1.15em;
    font-family: serif;
    font-style: italic;
    font-weight: 200;
    color: #ECE8E3;
}
  
.meta {
    color: #757575;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.8em;
    p {
      margin-top: 0;
      line-height: 1.3;
      margin-bottom: 15px;
    }
    span {
      margin: 0;
      padding: 0;
      display: block;
    }
}
  
.featured-image {
    text-align: right;
    padding-top: 10%;
    img {
      width: 230px;
    }
}
  
.content-1{
    margin-top: 10px;
    font-family: serif;
    font-size: 1.7em;
    text-align: justify;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
}
  
.lead {
    text-transform: uppercase;
    font-weight: bold;
}
  
.indent {
    margin-top: 0;
    text-indent: 3em;
}
  
.pagination {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 30%;
    font-size: 0.8em;
}



.row-8{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 233, 222);
    
    padding-left: 55px;
    
}

.row-8 p{
    padding-left: 10px;
    font-size: 30px;
}

.col-8 img {
    float: left;
    width: 50%;
    padding: -6px 0;
    margin-left: 700px;
    
}

.col-8 {
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 10px;
    background-color: rgb(228, 233, 222);
    
}



.col-2 {
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 10px;
}

.col-2 img {
    width: 70%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: black;
}


.col-2 a:hover {
    background: #ff0000;
}


.col-2 a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: #6810ff;
    color: aliceblue;
    border-radius: 30px;
    margin-top: 20px;
    transition: background 0.3s;
}




/* Ajoutez vos styles CSS ajustés pour les appareils mobiles ici */
@media only screen and (max-width: 768px) {
    .wrapper {
        display: block;
    }
    .left-container,
    .right-container {
        width: 100%;
        padding: 5%;
    }
    .row-8 {
        flex-direction: column;
        padding-left: 0;
    }
    .col-2,
    .col-8 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .col-2 p {
        font-size: 16px;
    }
    .col-8 img {
        width: 100%;
        margin-left: 0;
    }
    .content-wrapper {
        padding: 10% 5%;
    }
    .content {
        flex-direction: column;
        padding: 0;
    }
    .event {
        width: 100%;
        margin-bottom: 20px;
    }
    .event h1,
    .event h2,
    .event p {
        text-align: center;
        margin-bottom: 5px;
    }
    .row-8 p {
        padding-left: 0;
        font-size: 18px;
    }
}
